.default-button {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.add-button {
  display: flex;
}

.noline-button {
  background: none;
}

.line-button {
  background: none;
  border: 1px solid #ccc;
}

$blue: #228be6;
$gray: #495057;
$pink: #f06595;
$green: #00b96b;

@mixin button-color($color) {
  background: $color;
  &:hover {
    background: lighten($color, 10%);
  }
  &:active {
    background: darken($color, 10%);
  }
}

.Button {
  display: inline-flex;
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  align-items: center;

  // 사이즈 관리
  &.large {
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
  }

  &.medium {
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }

  &.small {
    height: 1.75rem;
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  // 색상 관리
  &.blue {
    @include button-color($blue);
  }

  &.gray {
    @include button-color($gray);
  }

  &.pink {
    @include button-color($pink);
  }

  &.green {
    @include button-color($green);
  }

  & + & {
    margin-left: 1rem;
  }
}
