.my-page {
  .info {
    display: flex;
    margin-top: 20px;
    gap: 30px;
  }
  .aside {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    min-width: 180px;
    > ul > li {
      margin-bottom: 16px;
      li {
        line-height: 30px;
        cursor: pointer;
        &.is-select {
          font-weight: bold;
        }
      }
    }
    strong {
      display: block;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid black;
    }
  }
  .desc {
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .content-item {
    display: flex;
    width: 100%;
    &.is-group-manage {
      gap: 20px;
      .folder {
        width: 40%;
      }
      .friend-list {
        width: 100%;
      }
      .controll {
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg {
          cursor: pointer;
        }
      }
      .folder-area {
        min-height: 200px;
        border: 1px solid #ccc;
      }
    }
    &.is-account-edit {
      align-items: center;
      justify-content: center;
    }
  }
  .delete-button {
    justify-content: center;
  }

  .user-chk {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap: 20px;
  }
  .account-edit {
    label {
      cursor: auto;
    }
  }
}